{% extends "layout.html" %} {% block content %}
</br>
<div class="w3-container">
  <div class="col-xs-12  col-md-9">
  </br>
 
  </br>
    <div class="chart"></div>    <!-- Scatter plot here. -->
    <br>
    <br>
    <br>
    <div id="my_dataviz"></div> <!-- wordcloud -->
    </div>
</div>

<!-- End page content -->
</div>
<!-- interactive trendline -->
<script src="../static/scripts/app.js"></script>

<!-- wordcloud -->
<script src= "../static/scripts/wordcloud.js"></script>

{% endblock %}
</body>
</html>