{% extends "layout.html" %} {% block content %}

<div class="w3-container w3-padding-64 w3-theme-l5  w3-center "  id="P&S">
    
        <h2>COVID-19 Mortality Risk Model</h2>
        <img src="../static/images/classification_report.png" alt="classification" width = "600" height="300" style="margin-right:2cm;">
        
        <img src="../static/images/confusionMatrix.png" alt="confusion" width = "600" height="400">
        
            <h2>Considerations</h2>
            <p style="margin-left:1cm; margin-right:1cm;" align="left">Our risk model uses the classifier method to narrow contributing factors with high feature 
                importance for COVID-19 mortality predictions. The contributing factors are narrowed to age, gender, 
                and the top 6 features of each category in pre-existing conditions and symptoms. </p>
            <p style="margin-left:1cm; margin-right:1cm;" align="left">Logistic regression model is applied which shows an accuracy score of 0.88. Although the low-risk population f1-score 
            is 92%, the high risk population f1-score is only 66%, showing higher precision and recall for 
            low rather than high risk populations. </p>
            <p style="margin-left:1cm; margin-right:1cm;" align="left">The confusion matrix shows that the logistic regression model is able to accurately identify 87.5% ((75% true low risk 
            = predicted low risk) + (12.5% true high risk = predicted high risk)) of its test data into their respective risk categories which show 
            strong predictive capabilities.   
            </p>
        </div>
    </div>


{% endblock %}
</body>
</html>