{% extends "layout.html" %} {% block content %}

<!--  Pre-conditions -->
<div class="w3-container w3-padding-64 w3-theme-l5  w3-center "  id="P&S">
    <!-- <div class="w3-half" > -->
        <h2>Is there increase in COVID19 mortality based on preexisting conditions and/or symptoms?</h2>
        <br>
        <h2>Logistic Regression Risk Model</h2>
        <img src="../static/images/classification_report.png" alt="classification" width = "600" height="300" style="margin-right:2cm;">
        
        <img src="../static/images/confusionMatrix.png" alt="confusion" width = "600" height="400">
        <!-- <div class="w3-half"> -->
            <h2>Our Risk Model Explanation</h2>
            <p> explanation</p>
        </div>
    </div>
    <br><br><br><br><br><br>
    <!-- <div class="w3-half"></div>
    <div class="w3-container">
        <img src="../static/images/confusionMatrix.png" alt="confusion">
    </div>

    <div class="w3-half">
        <h2>Explanation</h2>
        <p> explanation</p>
    </div>     -->
</div>

</div> 
{% endblock %}
</body>
</html>