{% extends "layout.html" %} {% block content %}


<!--  Pre-conditions -->
<div class="w3-container w3-padding-64 w3-theme-l5  w3-center "  id="P&S">
    <div class="w3-whole" >
    
    <h2>Is there a correlation based on symptoms experienced and the pre-existing conditions?</h2>
    </div>
   
   
    

    <div class="w3-half"></div>
        <div class="w3-container">
            <img src="../static/images/correlationMatrix.png" alt="confusion">
        </div>

        <div class="w3-half">
            <h2>Explanation</h2>
            <p> explanation</p>
        </div>    
    </div>

</div>

{% endblock %}
</body>
</html>


