{% extends "layout.html" %} {% block content %}




<!-- Team Container -->
 <div class="w3-container w3-padding-64 w3-center" id="TK">
    <h2>Project Team</h2>

    <br>
    <br>
    <div class="w3-row"><br>
    
    <div class="w3-third">
      <img src="../static/images/Stella.png" alt="Boss" style="width:37%" class="w3-circle w3-hover-opacity">
      <h3>Stella Kim</h3>
      <!-- <p>Stella</p> -->
    </div>
    
    <div class="w3-third">
      <img src=" ../static/images/Sydney.png" alt="Boss" style="width:37%" class="w3-circle w3-hover-opacity">
      <h3>Sydney Harkins</h3>
      <!-- <p>Sydney</p> -->
    </div>
    
    <div class="w3-third">
      <img src="../static/images/Sarah.jpg" alt="Boss" style="width:37%" class="w3-circle w3-hover-opacity">
      <h3>Sarah H Lee</h3>
      <!-- <p> Sarah </p> -->
    </div>
    
    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <div class="w3-half" style="position:relative; left:80px;">
      <img src="../static/images/pankaj1.png" alt="Boss" style="width:25%" class="w3-circle w3-hover-opacity">
      <h3>Pankaj Parashar</h3>
      <!-- <p>Pankaj</p> -->
    </div>
    
    
    <div class="w3-half"style="position:relative; left:-80px;">
        <img src="../static/images/Rupali.png" alt="Boss" style="width:25%" class="w3-circle w3-hover-opacity">
        <h3>Rupali Surve</h3>
        <!-- <p>Rupali</p> -->
      </div>
    </div>
    </div> 

{% endblock %}
</body>
</html>