{% extends "layout.html" %} {% block content %}

<!-- Image of location/map -->
<!-- <img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%;"> -->


<!-- Team Container -->
 <div class="w3-container w3-padding-64 w3-center" id="TK">
    <h2>Project Team</h2>
    <!-- <p>Meet the team</p> -->
    <br>
    <br>
    <div class="w3-row"><br>
    
    <div class="w3-third">
      <img src="../static/images/Stella.png" alt="Boss" style="width:35%" class="w3-circle w3-hover-opacity">
      <h3>Stella Kim</h3>
      <p>Stella</p>
    </div>
    
    <div class="w3-third">
      <img src=" ../static/images/Sydney.png" alt="Boss" style="width:35%" class="w3-circle w3-hover-opacity">
      <h3>Sydney Harkins</h3>
      <p>Sydney</p>
    </div>
    
    <div class="w3-third">
      <img src="../static/images/sarah.jpeg" alt="Boss" style="width:35%" class="w3-circle w3-hover-opacity">
      <h3>Sarah H Lee</h3>
      <p> meow </p>
    </div>
    
    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <div class="w3-half">
      <img src="../static/images/Pankaj.png" alt="Boss" style="width:25%" class="w3-circle w3-hover-opacity">
      <h3> Pankaj</h3>
      <p>Pankaj</p>
    </div>
    
    <div class="w3-half">
        <img src="../static/images/Rupali.png" alt="Boss" style="width:25%" class="w3-circle w3-hover-opacity">
        <h3>Rupali</h3>
        <p>Rupali</p>
      </div>
    </div>
    </div> 

{% endblock %}
</body>
</html>