
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css"/>
    <title>Document</title>
</head>
<body>
    <!-- Team biograph -->
  
<div class="column">
    <div class="card">
      <img src="../Stella.png" alt="Stella" style="width:100%">
      <div class="container p2 a">
        <h2>Stella Kim</h2>
        <p class="title">Team Kitten</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../Sydney.png" alt="Sydney" style="width:100%">
      <div class="container p2 a">
        <h2> Sydney Harkins</h2>
        <p class="title">Team Kitten</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="../Rupali.png" alt="Rupali" style="width:100%">
      <div class="container p2 a">
        <h2> Rupali Surve</h2>
        <p class="title">Team Kitten</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../sarah.jpeg" alt="Sarah" style="width:100%">
        <div class="container p2 a">
          <h2> Sarah H Lee</h2>
          <p class="title">Team Kitten</p>
          <p>Meow</p>
          
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="column">
        <div class="card">
          <img src="../Pankaj.png" alt="Pankaj" style="width:100%">
          <div class="container p2 a">
            <h2>Pankaj Parashar </h2>
            <p class="title">Team Kitten</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    
</body>
</html>








