<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <title>COVID-19 Pre-Conditions Risk Calculations</title>
</head>

<body>


<!-- Title/jumbotron text  -->
<div class="container">
    
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
		<style>.row {<!--#CFD8DC-->
					background-color: #EBEBEB;}
		</style>
		<h1 class="ml2">COVID-19 Pre-Conditions Risk Calculations</h1>	

      </div>
	</div>

	<ul class="nav nav-pills">
		<li class="nav-item">
		  <a class="nav-link active" href="index.html">Home</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="Genre.html">Pre-Conditions</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#">Age</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link disabled" href="searchtool.html">Correlations Between Symptoms and Conditions</a>
		</li>
        <li class="nav-item">
            <a class="nav-link" href="#">Risk Calculator</a>
        </li>
	  </ul>

    </br>
</br>


<div class="container">
    <div class="col-xs-12  col-md-9">