<!DOCTYPE html>
<html>
<title>COVID Mortality Data Project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", monospace}
.w3-bar,h1,button {font-family: "Montserrat", monospace}
.fa-anchor,.fa-coffee {font-size:200px}
</style>


<!-- Sidebar on click -->
<nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-red">Close
    <i class="fa fa-remove"></i>
  </a>
  <a href="{{ url_for('home') }}" class="w3-bar-item w3-button">Home</a>
  <a href="{{ url_for('ageRisk') }}" class="w3-bar-item w3-button">Age Risk</a>
  <a href="{{ url_for('ourModel') }}" class="w3-bar-item w3-button">Our Risk Model</a>
  <a href="{{ url_for('riskCalculator') }}" class="w3-bar-item w3-button">Risk Calculator</a>
  <a href="{{ url_for('correlation') }}" class="w3-bar-item w3-button">Correlation</a>
  <a href="{{ url_for('aboutUs') }}" class="w3-bar-item w3-button">About Us</a>
</nav>

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="{{ url_for('home') }}" class="w3-bar-item w3-button w3-red"><i class="fa fa-home w3-margin-right"></i>Home</a>
  <!-- <a href="{{ url_for('home') }}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Our Data</a> -->
  <a href="{{ url_for('ageRisk') }}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Age Risk</a>
  <a href="{{ url_for('ourModel') }}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Our Risk Model</a>
  <a href="{{ url_for('riskCalculator') }}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Risk Calculator</a>
  <a href="{{ url_for('correlation') }}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Correlation</a>
  <a href="{{ url_for('aboutUs') }}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About Us</a>
   
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <!-- <a href="{{ url_for('home') }}" class="w3-bar-item w3-button">Our Data</a> -->
    <a href="{{ url_for('ageRisk') }}" class="w3-bar-item w3-button">Age Risk</a>
    <a href="{{ url_for('ourModel') }}" class="w3-bar-item w3-button">Our Risk Model</a>
    <a href="{{ url_for('riskCalculator') }}" class="w3-bar-item w3-button">Risk Calculator</a>
    <a href="{{ url_for('correlation') }}" class="w3-bar-item w3-button">Correlation</a>
    <a href="{{ url_for('aboutUs') }}" class="w3-bar-item w3-button">About Us</a>


  </div>
</div>

<!-- Image Header -->
<head class="w3-display-container w3-animate-opacity">
  <img src="../static/images/web.png" alt="boat" style="width:100%;min-height:350px;max-height:350px;">
  <div class="w3-container w3-display-bottomleft w3-margin-bottom">  
    
  </div>
</header>


<!-- Container -->
<div class="w3-container" style="position:relative">
  <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-red"
  style="position:absolute;top:-28px;right:24px">+</a>
</div>


<script>
// Script for side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

// Close side navigation
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>


  

{% block content %}{% endblock %}


<!-- Footer -->
<footer class="w3-container w3-grey w3-padding-15 w3-theme-d1 w3-center">
  <h5>Not for purposes of clinical decision making</h5>
  <h5>Only for presentation purposes</h4>
  <br>
  <h6>Thank you for visiting</h6>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-red w3-hide-small">Go To Top</span>   
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>