<!DOCTYPE html>
<html>
<title>COVID-19 Risk Factors</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/style.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v6.js"></script>

<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-clear">

<!-- Top container -->
<div>
<div class="w3-bar w3-top w3-brown w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right" style="height:20px">Team Kitten</span>
  <span class="w3-center" style="height:90px;"><strong><h1>COVID-19 Risk Factors</h1></strong></span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:250px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s8 w3-bar">
      <!-- <span>Welcome! <strong></strong></span><br> -->

    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Menu</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="layout.html" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-eye fa-fw"></i>  Overview</a>
    <a href="data.html" class="w3-bar-item w3-button w3-orange"><i class="fa fa-bullseye fa-fw"></i>  Data Analysis</a>
    <a href="risk_cal.html" class="w3-bar-item w3-button w3-green"><i class="fa fa-users fa-fw"></i> Risk Factor Calculation </a>
    <a href="biography.html" class="w3-bar-item w3-button w3-red"><i class="fa fa-bank fa-fw"></i>Biography</a>

  </div>


</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->

  <div margin: 10 auto;>

  <header class="w3-container" style="padding-top:22px;padding-left:2000px">
    <hr>

    </div>
    
    <div class="w3-row-padding">
    
    <div class="w3-whole">
      <form class="form-horizontal" action="/results" method="POST">
      <h2>Risk Factors Calculation</h2>
      <div class="w3-section">      
        <input class="w3-input" type="text" required name=age>
        <label>Age</label>
      </div>
      <div class="col-md-4">
      <div class="w3-half">
        <label>Precondition</label>
        <br>
        <!-- <input type=“checkbox” name=hypertension" value=“1” checked> -->
        <input id="hypertension" class="w3-check" type="checkbox" name="hypertension">
        <label>Hypertension</label>
        <br>
        <input id="diabetes" class="w3-check" type="checkbox" name="diabetes">
        <label>Diabetes</label>
        <br>
        <input id="cvd" class="w3-check" type="checkbox" name="cvd">
        <label>Cardiovascular Disease</label>
        <br>
        <input id="copd" class="w3-check" type="checkbox" name="copd" >
        <label>Chronic Obstructure Lung</label>
        <br>
        <input id="cancer" class="w3-check" type="checkbox" name="cancer">
        <label>Any Cancer</label>
        <br>
        <input id="kidneydisease" class="w3-check" type="checkbox" name="kidneydisease">
        <label>Chronic Kidney Disease</label>
        <br><br>
      </div>
    </div>

    <div class="col-md-4">
    <div class="w3-half">
      <label>Symptoms</label><br>
      <input id="Fever" class="w3-check" type="checkbox" name="fever">
      <label>Fever</label>
      <br>
      <input id="breath" class="w3-check" type="checkbox" name="breath">
      <label>Shortness of Breath</label>
      <br>
      <input id="Cough" class="w3-check" type="checkbox" name="cough">
      <label>Cough</label>
      <br>
      <input id="tachypnea" class="w3-check" type="checkbox" name="tachypnea">
      <label>Tachypnea (Fast Breathing Rate)</label>
      <br>
      <input id="Fatigue" class="w3-check" type="checkbox" name="fatigue">
      <label>Fatigue</label>
      <br>
      <input id="diarrhea" class="w3-check" type="checkbox" name="diarrhea">
      <label>Diarrhea</label>
      <br><br>

      <input class="w3-input" type="submit" required>
      <button>Calculate</button>
    </div>
  </div>

  <div margin: 10 auto;></div>

  <header class="w3-container" style="padding-top:22px;padding-left:2000px">
    <hr>

    </div>
    <br><br><br>
    
    <div class="w3-row-padding">

    <div class="w3-whole">
    <form class="w3-container w3-card-4">
      <label for="output">Your Risk Calculations :</label><input type="text" name="output" value=0></input>
      <div class="col-md-4">
      <div class="w3-half">
    </div>
  </div>



  <script>












    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");
    
    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");
    
    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
      } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
      }
    }
    
    // Close the sidebar with the close button
    function w3_close() {
      mySidebar.style.display = "none";
      overlayBg.style.display = "none";
    }
    </script>




<!-- {% block content %}{% endblock %} -->