{% extends "layout.html" %} {% block content %}

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->

  <div margin: 10 auto;>

  <header class="w3-container" style="padding-top:22px;padding-left:2000px">
    <hr>

    </div>
    
    <div class="w3-row-padding">
    
    <div class="w3-whole">
      <form class="form-horizontal" action="/results" method="POST">
      <h2>Risk Factors Calculation</h2>
      <div class="w3-section">      
        <input class="w3-input" type="text" required name=age>
        <label>Age</label>
      </div>
      <div class="col-md-4">
      <div class="w3-half">
        <label>Precondition</label>
        <br>
        <!-- <input type=“checkbox” name=hypertension" value=“1” checked> -->
        <input id="hypertension" class="w3-check" type="checkbox" name="hypertension">
        <label>Hypertension</label>
        <br>
        <input id="diabetes" class="w3-check" type="checkbox" name="diabetes">
        <label>Diabetes</label>
        <br>
        <input id="cvd" class="w3-check" type="checkbox" name="cvd">
        <label>Cardiovascular Disease</label>
        <br>
        <input id="copd" class="w3-check" type="checkbox" name="copd" >
        <label>Chronic Obstructure Lung</label>
        <br>
        <input id="cancer" class="w3-check" type="checkbox" name="cancer">
        <label>Any Cancer</label>
        <br>
        <input id="kidneydisease" class="w3-check" type="checkbox" name="kidneydisease">
        <label>Chronic Kidney Disease</label>
        <br><br>
      </div>
    </div>

    <div class="col-md-4">
    <div class="w3-half">
      <label>Symptoms</label><br>
      <input id="Fever" class="w3-check" type="checkbox" name="fever">
      <label>Fever</label>
      <br>
      <input id="breath" class="w3-check" type="checkbox" name="breath">
      <label>Shortness of Breath</label>
      <br>
      <input id="Cough" class="w3-check" type="checkbox" name="cough">
      <label>Cough</label>
      <br>
      <input id="tachypnea" class="w3-check" type="checkbox" name="tachypnea">
      <label>Tachypnea (Fast Breathing Rate)</label>
      <br>
      <input id="Fatigue" class="w3-check" type="checkbox" name="fatigue">
      <label>Fatigue</label>
      <br>
      <input id="diarrhea" class="w3-check" type="checkbox" name="diarrhea">
      <label>Diarrhea</label>
      <br><br>

      <input class="w3-input" type="submit" required>
      <button>Calculate</button>
    </div>
  </div>

  <div margin: 10 auto;></div>

  <header class="w3-container" style="padding-top:22px;padding-left:2000px">
    <hr>

    </div>
    <br><br><br>
    
    <div class="w3-row-padding">

    <div class="w3-whole">
    <form class="w3-container w3-card-4">
      <label for="output">Your Risk Calculations :</label><input type="text" name="output" value=0></input>
      <div class="col-md-4">
      <div class="w3-half">
    </div>
  </div>



  <script>




    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");
    
    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");
    
    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
      } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
      }
    }
    
    // Close the sidebar with the close button
    function w3_close() {
      mySidebar.style.display = "none";
      overlayBg.style.display = "none";
    }
    </script>

</body>
</html>

{% endblock %}
